*{
    margin: 0px;
    padding: 0px;
   

}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul li{
    list-style: none;
}
nav{
    background-color:#f9fafc ;
    border-bottom:1px solid gray ;
    color: #42526e;
}
.head2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    color: #42526e;
    
}
.shop{
    border: solid #eff2f7;
    border-radius: 50%;
    background-color: #eff2f7;
    padding: 10px;
    font-size:30px;
    margin-left:10px;
}
.search{
    border: solid #eff2f7;
    background-color: #eff2f7;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
   

}
.container{
    position: relative;
}
.seacrhi{
    position: absolute;
  top: 25px;
  right: 25px;
}
.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left:1px solid gray;
    padding: 10px;
    padding-left: 20px;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.category div{
    border: 1px solid rgb(228, 226, 226);
    font-size: 20px;
    
    padding: 50px;
    margin: 5px;
}

.cat h2{
    text-align: right;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.contuct{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    background-color: #333333;
    color: #fff;
    font-size: 14px;

}
.one{
    padding: 30px;
}
.sub{
    background-color: #484848;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
}
.sub input{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
.sub button{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    width: 60px;

}
hr{
    height: 1px;
}
.payment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#e6e6e6;
    color: #42526e;
    padding: 20px;
}
/* *********************************************************** */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
 .btn2 {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: 200px;
    padding: 10px 18px;
    border: 1px solid lightgray;
    box-shadow: 5px 0px 10px #888888;
    
    
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
 
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(80, 74, 74);
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  } 
  .shows{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
  }
  .shows img{
width: 290px;
  }
  .shows2{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }
  .shows2 img{
    width: 600px;
  }
  .cat{
    margin: 20px;
  }
  .category i{ 
    border-radius: 50%;
    padding: 5px;
    font-size:30px;
    
    color: #fff;
  }
  .category .one i{
    background-color: #1b8bbb;
    border: solid #1b8bbb;
  }
  .category .two i{
    background-color: #6db52a;
    border: solid #6db52a;
  }
  .category .three i{
    background-color: #cb3278;
    border: solid #cb3278;
  }
  .category .four i{
    background-color: #f67828;
    border: solid #f67828;
  }
  .category .five i{
    background-color: #786a9b;
    border: solid #786a9b;
  }
  .category .six i{
    background-color: #603229;
    border: solid #603229;
  }
  .category .seven i{
    background-color: #ad1346;
    border: solid #ad1346;
  } 
  .category div{
    display: grid;
    grid-template-rows:  auto;
    
    justify-content: center;
  }